<html>
<head>
    <link href="/css/main.css" type="text/css" rel="stylesheet">
</head>
<body>
<div>
    <div class="boxwrap">
        <div class="boxtop">
        </div>
        <div class="boxpanel">

            <h3>Welcome</h3>
            <a href="busRTPI/index#/home" class="btn btn-a">BUS RTPI</a>
            <a href="luasRTPI/index" class="btn btn-a">LUAS RTPI</a>

        </div>
        <span class="little"><a href="https://github.com/jurgenzz/"  target="_blank">github</a></span>

    </div>



</body>
</html>