<div class="boxwrap">
    <div class="boxtop">
    </div>
    <div class="boxpanel">

       <h3>Select route:</h3>
        <a href="#/red" class="btn btn-a">Red</a>
        <a href="#/green" class="btn btn-a">Green</a>
    </div>



</div>

