bus.ejs

<div ng-repeat="bus1 in bus.busNo track by $index">
    {{bus1}}
</div>
<div ng-repeat="busTime in bus.time track by $index">
    {{busTime}}
</div>

{{bus.busNo[1]}}


<table>
    <tr  ng-repeat="bus1 in bus.busNo track by $index">
    <td>{{bus1}}
    </td>
    </tr>
    <tr ng-repeat="busTime in bus.time track by $index">
        <td>{{busTime}}</td>
    </tr>
    </table>
