<div class="table">
    <div class="head">
        <ul>
            <li>Bus no</li>
            <li>Destination</li>
            <li>Time Due</li>
        </ul>
    </div>
    <div class="clear"></div>
    <div ng-repeat="bus1 in bus.nextBus track by $index" ng-show="!$first">
        <ul class="busTable">
            <li>{{bus1[0]}} </li>
            <li>{{bus1[1]}}</li>
            <li>{{bus1[2]}}</li>
        </ul>
    </div>
</div>