bus.ejs




<table style="border:1px solid black;width:100%"">
    <tr>
        <th>Firstname</th>
        <th>Lastname</th>
    </tr>
    <tr ng-repeat="bus1 in bus.nextBus track by $index">
        <td>{{bus1[0]}} </td>
        <td>{{bus1[2]}}</td>

    </tr>
</table>
