<div class="boxwrap">
    <div class="boxtop">
    </div>
    <div class="boxpanel">

        <h3>Enter stop No:</h3>
        <input ng-model="stopNo" class="bus-input">

        <a href="#/stopNr/{{stopNo}}/" class="btn">SEARCH</a>
    </div>
</div>