<div class="boxwrap">
    <div class="boxtop">
    </div>
    <div class="boxpanel">

        <h3>Enter stop No:</h3>

        <form ng-submit="submit()">
        <input type="text" ng-model="text" name="text" ng-model="stopNo" class="bus-input"/>
        <input type="submit" id="submit" value="Submit" class="btn"/>
            </form>
    </div>
    <span class="little"><a href="#/stops">Find by route</a></span>
</div>