<html>
<head>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/ui-router/angular-ui-router.js"></script>
    <script src="/js/app.js"></script>
    <link href="/css/main.css" type="text/css" rel="stylesheet">
</head>
<body ng-app="busApp">
<div ng-controller="busCtrl">
    <div ui-view></div>



</body>
</html>