<div ng-hide="direction === 'I'">
<a href="#/routes/{{busRoute}}/I" class="btn btn-a">change direction</a>
    </div>
<div ng-hide="direction === 'O'">
    <a href="#/routes/{{busRoute}}/O" class="btn btn-a">change direction</a>
</div>
<div class="table">
    <div class="loading" ng-show="loading" class="loading">Loading...<img src="http://jimpunk.net/Loading/wp-content/uploads/loading5.gif"></div>
    <ul ng-repeat="stop in stops.info"  class="busTable">
        <a href="#/stopNr/{{stop[0]}}/">
            <li class="busNr">{{stop[0]}}</li>
            <li class="routeName">{{stop[1]}}</li>
        </a>
    </ul>
</div>
